body{
    font-family: 'Roboto', sans-serif;
}
/* grid de 960px
60px cada coluna/ 10px direita/esquerda de afastamento = 80px cada coluna*/
.linha{
    width:960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}
/*cada coluna e dimensionada com a sua medida em pixels, no nosso caso 60px, mais uma margem dessa mesma coluna, localizada a direita, e mais uma margem da próxima
coluna, que seria a primeira margem dessa próxima coluna, fechando 80px. Então cada vez que for calcular a largura da próxima coluna, leve em considerção a largura
da coluna, em pixels, e mais as duas margens entre a coluna atual e a próxima coluna. */
.coluna{
    padding: 0 10px;
    float: left;
    
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}  


a:hover{
    color:orange;
}
a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
h3{
    color:#000080;
    font-size: 30px;
}


.relative{
    position:relative;
}
.centralizar{
    text-align: center;
}
.justificar{
    text-align: justify;
}
.margem0{
    margin: 0;
}
.corlink{
    color:orange;
}
.boxsize{
    box-sizing: border-box;
}
.static{
    position: static;
}


.logo1{
    text-shadow: 2px 2px 8px black;
    font-size: 40px;
}
.titulo1{
    font-size: 45px;
    text-align: left;
    font-weight: bold;
    width: 350px;
    text-transform: uppercase;
    color:#000080	;
}
.titulo3{
    font-size: 20px;
}
.lista1{
    list-style: none;
    display: inline-flex;
    font-size: 20px;
    background-color: #000080;
    height:151px;
    width: 670px;
    margin: 0; 
} 
.itemlista1{
    margin: 25px 5px 0 0;
}
.rodape{
    color:white;
    text-align: center;
    background-color: #000080;
    height:60px;
    font-size: 15px;
}


/* Ajuste de posição para o menu e logo das páginas que seguem o index*/
.ajuste{
    position:relative;
    left:-8px;
}
.botao3{
    background-color: #4169E1;
    color:white;
    height:40px;
    width:250px; 
}
.botao3:hover{
    color:orange;
    background-color:#000080;
}