.botao2{
    background-color: #4169E1;
    color:white;
    height:30px;
    width:100px;
}
.botao2:hover{
    color:orange;
    background-color:#000080;
}
.botao4{
    background-color: green;
    color:white;
    height:30px;
    width:100px;
}
.botao4:hover{
    color:orange;
    background-color:#000080;
}
.botao5{
    background-color: red;
    color:white;
    height:30px;
    width:100px;
}
.botao5:hover{
    color:orange;
    background-color:#000080;
}
.imgbasica{
    height: 400px;
    width: 600px;
}
.margemcima{
    padding: 20px 0 0 20px;
    font-weight: bold;
}
.largura{
    width: 680px;
}
.alignd{
    text-align: right;
}
.aligne{
    text-align: left;
}
.margemd{
    margin: 0 150px 0 0;
}
.margemd2{
    margin: 0 250px 0 0;
    font-weight: bold;
    font-size: 20px;
}
.margem{
    margin: 0 35px 0 0;
}
.preto{
    color:black;
}
.quadro{
    width: 740px;
    height: 120px;
}
.blocoform1{
    width: 850px;
    height: 400px;
    background-color: #6A5ACD;
    margin: auto;
    box-shadow: 0 0 20px black;
}
.semestilo{
    text-decoration: none;
}
h3{
    text-align: center;
    font-weight: unset;
}
h4{
    font-size: 20px;
    margin:0 290px 0 0;
}